/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
.nav-item {
    a {
      cursor: pointer;
      &.active {
        background: #007bff !important;
        color: #ffffff !important;
      }
    }
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  }

  .inputStyle{
    margin-top: 25px;
    margin-bottom: 20px;
  }
  
  .btnStyle{
    margin-bottom: 20px;
  }    