
<section class="container p-3" >
  <form autocomplete="off" #operatorForm="ngForm">
      <input type="tel" name="phone" class="form-control inputStyle" id="phone" required [(ngModel)]="phone">
      <div class="text-center p-3">
          <button class="btn btn-primary btnStyle" [disabled]="!operatorForm.valid" (click)="getBestOperator()">Get Best Operator</button>
      </div>
      <p *ngIf="bestOperator" class="alert alert-success">{{bestOperator.operator}} - ${{bestOperator.cost}}/min</p>
      <p *ngIf="!isDataAvailable" class="alert alert-danger">Not data found.</p>
  </form>
</section>

<section class="container py-4">
  <div class="row">
      <div class="col-md-12">
          <h2>Operators</h2>
          <ul id="tabsJustified" class="nav nav-tabs">
              <li class="nav-item" *ngFor="let item of operators">
                  <a [ngClass]="{'active' : selected === item}" data-target="#home1" data-toggle="tab"
                     (click)="getListings(item)"
                     class="nav-link small text-uppercase active">{{item}}</a>
              </li>
          </ul>
          <br>
          <div id="tabsJustifiedContent" class="tab-content">
              <table class="table table-bordered">
                  <thead>
                  <tr>
                      <th>Prefix</th>
                      <th>Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of availableConnections">
                      <td>{{item.prefix}}</td>
                      <td>{{item.cost}}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>

